@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --swiper-pagination-color: #fecc00; /* Bleu */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.bg-card {
  position: relative;
  overflow: hidden;
  --bg-image: none; /* Variable par défaut */
}

.bg-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6; /* Opacité seulement sur l'image */
  z-index: 0;
}

.bg-card > * {
  position: relative;
  z-index: 1;
}
.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet-active  {
  color: #fecc00 !important; /* Utilisation de la couleur primaire de Tailwind */
  font-size: 18px !important;
}


* {
  scrollbar-color: #fecc00 transparent;
}

*:hover {
  scrollbar-color: #fecc00 transparent;
}
